@import "../../packages/font-awesome/css/font-awesome.min.css";
@import "../../packages/open-iconic/font/css/open-iconic-bootstrap.min.css";
body {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 14px;
  line-height: 1.8;
  font-weight: normal;
  background: #fafafa;
  color: gray;
}

a {
  color: #0366d6;
  text-decoration: none;
  -webkit-transition: 0.3s all ease;
  -o-transition: 0.3s all ease;
  transition: 0.3s all ease;
  color: #3445b4;
}
a:hover {
  text-decoration: none !important;
  outline: none !important;
  -webkit-box-shadow: none;
  box-shadow: none;
}
a:focus {
  text-decoration: none !important;
  outline: none !important;
  -webkit-box-shadow: none;
  box-shadow: none;
}

.btn-link {
  color: #0366d6;
  text-decoration: none;
}

.content {
  padding-top: 1.1rem;
}

.valid.modified:not([type=checkbox]) {
  outline: 1px solid #26b050;
}

.invalid {
  outline: 1px solid red;
}

.validation-message {
  color: red;
}

#blazor-error-ui {
  background: lightyellow;
  bottom: 0;
  box-shadow: 0 -1px 2px rgba(0, 0, 0, 0.2);
  display: none;
  left: 0;
  padding: 0.6rem 1.25rem 0.7rem 1.25rem;
  position: fixed;
  width: 100%;
  z-index: 1000;
}
#blazor-error-ui .dismiss {
  cursor: pointer;
  position: absolute;
  right: 0.75rem;
  top: 0.5rem;
}

button {
  -webkit-transition: 0.3s all ease;
  -o-transition: 0.3s all ease;
  transition: 0.3s all ease;
}
button:hover {
  text-decoration: none !important;
  outline: none !important;
  -webkit-box-shadow: none !important;
  box-shadow: none !important;
}
button:focus {
  text-decoration: none !important;
  outline: none !important;
  -webkit-box-shadow: none !important;
  box-shadow: none !important;
}

h1 {
  line-height: 1.5;
  font-weight: 400;
  color: #000;
}

h2 {
  line-height: 1.5;
  font-weight: 400;
  color: #000;
}

h3 {
  line-height: 1.5;
  font-weight: 400;
  color: #000;
}

h4 {
  line-height: 1.5;
  font-weight: 400;
  color: #000;
}

h5 {
  line-height: 1.5;
  font-weight: 400;
  color: #000;
}

.h1 {
  line-height: 1.5;
  font-weight: 400;
  color: #000;
}

.h2 {
  line-height: 1.5;
  font-weight: 400;
  color: #000;
}

.h3 {
  line-height: 1.5;
  font-weight: 400;
  color: #000;
}

.h4 {
  line-height: 1.5;
  font-weight: 400;
  color: #000;
}

.h5 {
  line-height: 1.5;
  font-weight: 400;
  color: #000;
}

.ftco-section {
  padding: 7em 0;
}

.ftco-no-pt {
  padding-top: 0;
}

.ftco-no-pb {
  padding-bottom: 0;
}

.heading-section {
  font-size: 28px;
  color: #000;
}
.heading-section small {
  font-size: 18px;
}

.img {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}

.wrapper {
  width: 100%;
}

/* tags */
/* user variables */
.sidebar {
  min-width: 250px;
  max-width: 250px;
  background: dimgray;
  color: #fff;
  -webkit-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
  position: relative;
}
.sidebar.active {
  margin-left: -250px;
}
.sidebar .h6 {
  color: #fff;
}
.sidebar h1 {
  margin-bottom: 20px;
  font-weight: 700;
  font-size: 30px;
}
.sidebar h1 .logo {
  color: #fff;
}
.sidebar h1 .logo span {
  font-size: 14px;
  color: #44bef1;
  display: block;
}
.sidebar .nav-links .btn {
  padding: 0.25rem 0.25rem;
  font-weight: 600;
  color: rgba(255, 255, 255, 0.65);
  background-color: transparent;
  border: 0;
}
.sidebar .nav-links .btn[aria-expanded=true] {
  color: rgba(255, 255, 255, 0.85);
}
.sidebar .nav-links .btn[aria-expanded=true]::before {
  transform: rotate(90deg);
}
.sidebar .nav-links .btn::before {
  width: 1.25em;
  line-height: 0;
  content: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' viewBox='0 0 16 16'%3e%3cpath fill='none' stroke='rgba%28255,255,255,.5%29' stroke-linecap='round' stroke-linejoin='round' stroke-width='2' d='M5 14l6-6-6-6'/%3e%3c/svg%3e");
  transition: transform 0.35s ease;
  transform-origin: 0.5em 50%;
}
.sidebar ul.components {
  padding: 0;
}
.sidebar ul li {
  font-size: 16px;
}
.sidebar ul li > ul {
  margin-left: 10px;
}
.sidebar ul li > ul li {
  font-size: 14px;
}
.sidebar ul li a {
  padding: 0.25rem 0;
  display: block;
  color: rgba(255, 255, 255, 0.6);
  margin-top: 0.125rem;
  margin-left: 1.25rem;
}
.sidebar ul li a i {
  color: #ff8700;
}
.sidebar ul li a:hover {
  color: #fff;
}
.sidebar ul li.active > a {
  background: transparent;
  color: #fff;
}
.sidebar .custom-menu {
  display: inline-block;
  position: absolute;
  top: 20px;
  right: 0;
  margin-right: -20px;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}
.sidebar .custom-menu .btn {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  position: relative;
}
.sidebar .custom-menu .btn i {
  margin-right: -40px;
  font-size: 14px;
}
.sidebar .custom-menu .btn.btn-primary {
  background: transparent;
  border-color: transparent;
}
.sidebar .custom-menu .btn.btn-primary:after {
  z-index: -1;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  content: "";
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
  background: #ff8700;
  border-radius: 10px;
}
.sidebar .custom-menu .btn.btn-primary:hover {
  background: transparent !important;
  border-color: transparent !important;
}
.sidebar .custom-menu .btn.btn-primary:focus {
  background: transparent !important;
  border-color: transparent !important;
}

a[data-toggle=collapse] {
  position: relative;
}

.dropdown-toggle::after {
  display: block;
  position: absolute;
  top: 50%;
  right: 0;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}

#content {
  width: 100%;
  padding: 0;
  min-height: 100vh;
  -webkit-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
}

.footer p {
  color: rgba(255, 255, 255, 0.5);
}

.form-control {
  height: 40px !important;
  background: #fff;
  color: #000;
  font-size: 13px;
  border-radius: 4px;
  -webkit-box-shadow: none !important;
  box-shadow: none !important;
  border: transparent;
  line-height: 2;
}
.form-control:focus {
  border-color: #000;
}
.form-control:active {
  border-color: #000;
}
.form-control::-webkit-input-placeholder {
  color: rgba(255, 255, 255, 0.5);
}
.form-control::-moz-placeholder {
  color: rgba(255, 255, 255, 0.5);
}
.form-control:-ms-input-placeholder {
  color: rgba(255, 255, 255, 0.5);
}
.form-control:-moz-placeholder {
  color: rgba(255, 255, 255, 0.5);
}

.content-wrapper > h2 {
  margin-top: 3rem;
}

.btn-row-group {
  position: relative;
  background: #fff;
  padding: 1rem;
  margin: 1rem -0.75rem 0;
  border: solid #dee2e6;
  border-width: 1px 0 0;
}
.btn-row-group .btn {
  margin: 0.25rem;
}

.scrollable {
  overflow: auto;
}
.scrollable::-webkit-scrollbar {
  width: 5px;
  height: 5px;
}
.scrollable::-webkit-scrollbar-thumb {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}
.scrollable::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}

.content-section > h2:not(:first-child) {
  margin-top: 1rem;
}
.content-section.scrollable {
  padding-right: 1rem;
}

.btn-group-styles {
  background: #fff;
}
.btn-group-styles .style-header {
  position: relative;
  width: 175px;
  padding: 0.5rem;
  margin-bottom: 0;
  font-size: 20px;
  color: #fff;
  background: gray;
}
.btn-group-styles .style-header:after {
  content: " ";
  position: absolute;
  display: block;
  height: 100%;
  top: 0;
  right: 0;
  z-index: 0;
  border-right: 27px solid #f8f9fa;
  transform-origin: bottom left;
  -ms-transform: skew(-30deg, 0deg);
  -webkit-transform: skew(-30deg, 0deg);
  transform: skew(-30deg, 0deg);
}
.btn-group-styles .style-content {
  background-color: transparent;
  padding: 0 0.5rem;
  margin-top: 0;
  border: 0;
}

.permlink {
  font-size: 20px;
  margin-left: 0.15rem;
  color: gray;
  opacity: 0;
}
.permlink:hover {
  cursor: pointer;
  color: dimgray;
  opacity: 0.5;
}

.bg-light, .btn-outline-light {
  color: #212529 !important;
}

.progress-group > .progress + .progress {
  margin-top: 1rem;
}

@media (prefers-reduced-motion: reduce) {
  .sidebar .custom-menu {
    -webkit-transition: none;
    -o-transition: none;
    transition: none;
  }
}
@media (max-width: 1170px) {
  .btn-group-styles > div {
    flex-direction: column;
  }
  .btn-group-styles > div .style-header {
    width: 100%;
  }
  .btn-group-styles > div .style-header:after {
    border: 0;
    transform-origin: unset;
    -ms-transform: skew(0deg, 0deg);
    -webkit-transform: skew(0deg, 0deg);
    transform: skew(0deg, 0deg);
  }
  .btn-group-styles > div .style-content {
    width: 100%;
    margin-top: 0.25rem;
  }
}
@media (max-width: 991.98px) {
  .sidebar {
    margin-left: -270px;
  }

  .sidebar.active {
    margin-left: 0;
  }

  .sidebar-collapse-btn span {
    display: none;
  }
}
@media (min-width: 576px) {
  .btn-row-group {
    padding: 1.5rem;
    margin-right: 0;
    margin-left: 0;
    border-width: 1px;
    border-top-left-radius: 0.25rem;
    border-top-right-radius: 0.25rem;
  }
}
